<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stoned Sweets</title>
        <link rel="icon" href="/images/pp.jpg" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css"> <!-- Your custom CSS file -->
    </head>
<body>
    <header class="navbar">
        <img src="/images/logo.png" alt="Stonedsweets Logo">
        <h1>Stonedsweets</h1>
        <nav>
            <ul>
                <li><a href="/addProducts">Add</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/order-summary">Summary</a></li>
                <a href="/logout">Back</a>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Admin - Product List</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% items.forEach(item => { %>
                    <tr>
                        <td><%= item.name %></td>
                        <td><%= item.price %></td>
                        <td><%= item.category %></td>
                        <td><img src="<%= item.imageUrl %>" alt="<%= item.name %> image"></td>
                        <td>
                            <a href="/editProduct/<%= item._id %>">Edit</a>
                            <form action="/deleteProduct/<%= item._id %>" method="POST" style="display:inline;">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </main>

    <footer>
        <!-- Optional footer content -->
    </footer>
</body>
</html>